<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href="./index.html" class="logo nav__logo">
        <svg width="78" height="24" class="logo__icon">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="list nav__list">
        <li class="nav__item">
          <a href="" class="nav__link link">Experience</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Work</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Photography</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
